.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.img-item{
    position: relative;
    cursor: pointer;
    height: 100%;
}
.img-text {
    font-family: "Encode Sans Expanded", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-item:hover .overlay {
    opacity: 1;
}
.img-item:hover .img-text {
    opacity: 1;
}


/*galleria circolare immagini*/
.target-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery {
    display: grid;
    gap: 6px;
    grid-template-columns: auto 0 auto;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    width: fit-content;
}
.gallery > img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: .3s;
    filter: grayscale();
    cursor: pointer;
    max-width: none;
}
.gallery > img:hover {
    filter: grayscale(0%);
}
.gallery > img:nth-child(1) {
    clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(2) {
    clip-path: polygon(0 0,100% 0,50% 100%);
}
.gallery > img:nth-child(3) {
    clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(4) {
    clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}
.gallery > img:nth-child(5) {
    clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.gallery > img:nth-child(6) {
    clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
}


/*glow gradient border div in act now*/
.glow-gradient{
    width: 70vmin;
    height: fit-content;
    display: grid;
    place-content: center;
    color: rgb(250, 250, 250);
    text-shadow: 0 1px 0 #000;
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #00ffe2,
      #ff00c1 99%,
      transparent
    );
    background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin 4s linear infinite;
}
@-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
}
@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
}
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
.gradient-bg{
    background: linear-gradient(135deg, rgba(255,0,193, .5) 0%, rgba(0,255,226,.5) 100%);
}
.gradient-text{
    background: linear-gradient(90deg, rgba(255,0,193, 1) 0%, rgba(0,255,226, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.underline-gradient:hover::after{
    content:'';
    width:100%;
    position: absolute;
    left:0;
    bottom: -1px;
    height: 1px;
    background: transparent;
    background: linear-gradient(90deg, rgba(255,0,193, 1) 0%, rgba(0,255,226, 1) 100%);
}